@model List<Maticsoft.Model.About>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- PAGE TITLE PART START -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="page-title-content text-center">
                    <h2>Practise Details</h2>
                    <h4>jjjjjjjj</h4>
                    <h5>jjjjddddjd</h5>
                    <a href="index.html">Home</a> - <span>Practise</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE TITLE PART END -->
<!-- PRATICE DETAILS PART START -->
<div class="pratice-details-part">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                <div class="pratice-details-content">
                    <img src="images/pratice-details-img.jpg" class="w-100 img-fluid" alt="" />
                    <h2>The expectation of confidentiality</h2>
                    <p>
                        Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasionre member daughter replying. Held that feel his see own yet. Strangers ye to he
                        sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne mertainly elsewhere my do allowance at. The address farther six hearted hundred to wards husband. Are securing off
                        occasion remember daughter replying. Held that feel his see own yet. Strangers ye to he some times propriety in. She right plate seven has. Bed who perceive judgment did marianne.
                    </p>
                    <p>
                        Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasionre member daughter replying. Held that feel his see own yet. Strangers ye to he
                        sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne mertainly elsewhere my do allowance at. The address farther six hearted hundred to wards husband. Are securing off
                        occasion remember daughter replying. Held that feel his see own yet. Strangers ye to he some times propriety in. She right plate seven has. Bed who perceive judgment did marianne.
                    </p>
                    <p>
                        Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasionre member daughter replying. Held that feel his see own yet. Strangers ye to he
                        sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne mertainly elsewhere my do allowance at. The address farther six hearted hundred to wards husband. Are securing off
                        occasion remember daughter replying. Held that feel his see own yet. Strangers ye to he some times propriety in. She right plate seven has. Bed who perceive judgment did marianne.
                    </p>
                    <div class="details-check-box">
                        <div class="details-question">
                            <span><i class="fas fa-check"></i></span>
                            <h4>The expectation of confidentiality</h4>
                        </div>
                        <div class="details-ans">
                            <p>
                                Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are sec member daughter replying. Held that feel his see own yet. Strangers ye to he sometimes
                                propriety in right Bed who perceive judgment did marianne mertainly elsewhere my do allowance at. The address farther six hearted hundred to wards husband.
                            </p>
                        </div>
                    </div>
                    <div class="details-check-box">
                        <div class="details-question">
                            <span><i class="fas fa-check"></i></span>
                            <h4>The expectation of confidentiality</h4>
                        </div>
                        <div class="details-ans">
                            <p>
                                Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are sec member daughter replying. Held that feel his see own yet. Strangers ye to he sometimes
                                propriety in right Bed who perceive judgment did marianne mertainly elsewhere my do allowance at. The address farther six hearted hundred to wards husband.
                            </p>
                        </div>
                    </div>
                    <p>
                        Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasionre member daughter replying. Held that feel his see own yet. Strangers ye to he
                        sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne mertainly elsewhere my do allowance at. The address farther six hearted hundred to wards husband. Are securing off
                        occasion remember daughter replying. Held that feel his see own yet. Strangers ye to he some times propriety in. She right plate seven has. Bed who perceive judgment did marianne.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PRATICE DETAILS PART END -->